body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #FFF;
  font-size: 48px;
  line-height: 130%;
}

h4 {
  color: #FFF;
}

.lt-description {
  font-size: 18px;
  color: #6F7B97;
  line-height: 130%;
}

.lt-caption {
  font-size: 12px;
}

.lt-wrapper-80 {
  width: 80%;
  margin: 0 auto;
}

.lt-wrapper-60 {
  width: 60%;
  margin: 0 auto;
}

.lt-pd-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.lt-pd-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.lt-mt-20 {
  margin-top: 20px;
}
.lt-mb-20 {
  margin-bottom: 30px;
}
.lt-mb-10 {
  margin-bottom: 10px;
}

.lt-color-blue {
  color: #006AFF;
}

/* BUTTONS */
.lt-menu-right ul li button.lt-btn-sign {
  border-color: #006AFF;
}
.lt-menu-right ul li button.lt-btn-sign:hover {
  background-color: #006AFF;
  border-color: #FFF;
  color: #FFF;
}
header .lt-header li a.lt-color-blue {
  color: #006AFF;
}
header .lt-header button.lt-btn-sign:hover a.lt-blue-link {
  color: #FFF;
}
main .lt-jumbotron .lt-signup-box .lt-btn-jumbo {
  width: 100%;
  padding: 5px;
  background-color: #006AFF;
  opacity: 0.7;
  color: #FFF;
}
main .lt-jumbotron .lt-signup-box .lt-btn-jumbo:hover {
  opacity: 1;
}
main .lt-start .btn:active {
  color: #FFF;
  background-color: #006AFF;
}

/* HEADER */
header .lt-header {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 80px;
  line-height: 80px;
  width: 100%;
  background-color: #FFF;
  border-bottom: 2px solid #006AFF;
}

.lt-logo img {
  width: 100%;
  min-width: 150px;
}

header .lt-header li a {
  color: #041D4D;
}

header .lt-header li a:hover {
  text-decoration: none;
  color: #006AFF;
}

header .lt-header .lt-menu-burger {
  margin-top: 30px;
}

header .lt-header .lt-menu-burger .lt-menu-bar {
  width: 35px; 
  height: 5px;
  margin-bottom: 5px;
  z-index: 1000;
  background-color: #2485FD;
}

/* MAIN */

/* JUMBOTRON */
main .lt-jumbotron {
  background-image: url(../img/bg-banner-home.jpg);
  background-size: contain;
  margin-top: 80px;
}

main .lt-jumbotron .lt-description {
  color: #BBCDFF;
}

main .lt-jumbotron .lt-signup-box {
  background-color: #FFF;
  border-radius: 5px;
  padding: 15px 10px;
}

main .lt-jumbotron .lt-signup-box input{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #EEE;
  border-radius: 5px;
}

main .lt-jumbotron .lt-signup-box .lt-btn-google {
  width: 100%;
  padding: 5px;
  margin: 5px 0 10px 0;
  background-color: #FFF;
  box-shadow: 1px 1px 1px #CECECE;
}

main .lt-jumbotron .lt-signup-box .lt-btn-google img {
  height: 20px;
  display: inline;
}

/* CUSTOMERS */
main .lt-customers {
  background-color: #F3F5F9;
}

main .lt-customers h5 {
  text-transform: uppercase;
  color: #6F7B97;
  margin-bottom: 25px;
}

/* DEPLOY */
main .lt-deploy ul li {
  padding: 10px 10px;
  border-left: 2px solid #CECECE
}

main .lt-deploy ul li a {
  color: #6F7B97;
}

main .lt-deploy .lt-wrapper-80 .lt-description,
main .lt-features .lt-description {
  font-size: 14px;
}

/* DESIGN */
main .lt-design {
  background-color: #F3F5F9;
}

main .lt-design .lt-wrapper-60 .col-xs-1 {
  padding-top: 25%;
}

main .fas {
  font-size: 28px;
}

main .far:active {
  background-color: #006AFF;
  border-radius: 50%;
}

/* SERVERS */
main .lt-servers {
  background-image: linear-gradient(#0147C5, #03209A);
}

.row.lt-row {
  position: relative;
}

.row.lt-row:not(:last-child)::before {
  position: absolute;
  content: '';
  bottom: 0;
  height: 1px;
  width: 95%;
  background-color: #FFF;
}

main .lt-servers h2,
main .lt-start h2,
main .lt-servers h5 {
  color: #FFF;
}

main .lt-servers p {
  color: #B8C6E8;
  font-size: 95%;
  margin: 10px 0;
}

main .lt-servers a {
  color: #00D2CC;
}

/* DEV-TEAMS */
main .lt-dev-teams {
  background-color: #F3F5F9;
}

main .lt-dev-teams .lt-box {
  background-color: #FFF;
  padding: 30px 0;
  max-width: 450px;
  margin: 20px auto;
}

main .lt-dev-teams .lt-box h6 {
  margin-bottom: 3px;
}

main .lt-dev-teams .lt-box p.lt-description {
  font-size: 100%;
}

main .lt-dev-teams .lt-box p.lt-caption {
  font-size: 80%;
}

main .lt-dev-teams .lt-wrapper-60 .col-xs-1 {
  padding-top: 20%;
}

/* START */
main .lt-start {
  background-image: linear-gradient(#0147C5, #03209A);
}

/* FOOTER */
footer {
  background-color: #041D4E;
}

footer img.lt-ft-logo {
  width: 40px;
}

footer p.lt-description,
footer i {
  color: #8B94A9;
  font-size: 14px;
  margin: 0;
}

footer p.lt-caption {
  color: #596784;
}

footer ul li {
  margin-top: 10px;
}

footer ul li a {
  color: #8B94A9;
}

footer a:hover,
footer a:hover i {
  text-decoration: none;
  color:#00D2CC
}

footer .lt-shark {
  position: fixed;
  z-index: 998;
  bottom: 20px;
  width: 100%;
  background-color: transparent;
}

footer .lt-shark .lt-shark-img {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #006AFF;
  background-image: url(../img/shark.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

footer .lt-shark .lt-shark-img .lt-shark-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 22px;
  height: 22px;
  background-color: #FF0000;
  border-radius: 50%;
  border: 3px solid #FFF;
}

footer .lt-shark .lt-shark-img .lt-shark-badge p {
  color: #FFF;
  margin: -2px;
  padding: 0;
}

footer .lt-shark .lt-shark-text {
  position: relative;
  max-width: 250px;
  height: 60px;
  background-color: #FFF;
  padding: 10px;
  border-radius: 5px;
  color: #041D4D;
  margin-right: 20px;
  margin-left: 20px;
}

footer .lt-shark .lt-shark-text .lt-square {
  position: absolute;
  right: -7px;
  bottom: 9px;
  width: 14px;
  height: 14px;
  background-color: #FFF;
  transform: rotate(45deg);
}

@media all and (max-width: 991px) {
  main .lt-customers .lt-customers-logo img {
    height: 140px;
    vertical-align: middle;
  }

  main .lt-design .lt-caption {
    font-size: 16px;
  }

  footer .lt-shark .lt-shark-img,
  footer .lt-shark .lt-shark-text {
    float: left!important;
  }

  footer .lt-shark .lt-shark-text .lt-square {
    position: absolute;
    left: -7px;
    bottom: 9px;
    width: 14px;
    height: 14px;
    background-color: #FFF;
    transform: rotate(45deg);
  }

}