.debug {
  background-color: rgba(200, 100, 50, 0.25);
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #FFF;
  font-size: 48px;
  line-height: 130%;
}

.lt-description {
  font-size: 18px;
  color: #6F7B97;
  line-height: 130%;
}

.lt-caption {
  font-size: 13px;
}

.lt-wrapper-80 {
  width: 80%;
  margin: 0 auto;
}

.lt-wrapper-60 {
  width: 60%;
  margin: 0 auto;
}

.lt-pd-0 {
  padding: 0;
}

.lt-pd-50 {
  padding: 50px 0;
}

.lt-pd-25 {
  padding: 25px 0;
}

.lt-mt-20 {
  margin-top: 20px;
}
.lt-mb-20 {
  margin-bottom: 30px;
}
.lt-mb-10 {
  margin-bottom: 10px;
}

/* BUTTONS */
.lt-menu-right ul li button.lt-btn-sign {
  border-color: #006AFF;
}
main .lt-jumbotron .lt-signup-box .lt-btn-jumbo {
  width: 100%;
  padding: 5px;
  background-color: #006AFF;
  opacity: 0.7;
  color: #FFF;
}
main .lt-start .btn {
  color: #006AFF;
}

/* HEADER */
header .lt-header {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 80px;
  line-height: 80px;
  width: 100%;
  background-color: #FFF;
  border-bottom: 2px solid #006AFF;
}

.lt-logo img {
  width: 100%;
  min-width: 150px;
}

header .lt-header li a {
  color: #041D4D;
}

header .lt-header li a.lt-blue-link {
  color: #006AFF;
}

header .lt-header .lt-menu-burger {
  margin-top: 30px;
}

header .lt-header .lt-menu-burger .lt-menu-bar {
  width: 35px; 
  height: 5px;
  margin-bottom: 5px;
  z-index: 1000;
  background-color: #2485FD;
}

/* MAIN */

/* JUMBOTRON */
main .lt-jumbotron {
  background-image: url(../img/bg-banner-home.jpg);
  background-size: contain;
  margin-top: 80px;
}

main .lt-jumbotron .lt-description {
  color: #BBCDFF;
}

main .lt-jumbotron .lt-signup-box {
  background-color: #FFF;
  border-radius: 5px;
  padding: 15px 10px;
}

main .lt-jumbotron .lt-signup-box h3:nth-child(2) {
  margin-top: 10px;
  color: #006AFF;
}

main .lt-jumbotron .lt-signup-box input{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #EEE;
  border-radius: 5px;
}

main .lt-jumbotron .lt-signup-box .lt-btn-google {
  width: 100%;
  padding: 5px;
  margin: 5px 0 10px 0;
  background-color: #FFF;
  box-shadow: 1px 1px 1px #CECECE;
}

/* CUSTOMERS */
main .lt-customers {
  background-color: #F3F5F9;
}

main .lt-customers h5 {
  text-transform: uppercase;
  color: #6F7B97;
  margin-bottom: 25px;
}

/* DEPLOY */
main .lt-deploy ul li {
  padding: 10px 10px;
  border-left: 2px solid #CECECE
}

main .lt-deploy ul li a {
  color: #6F7B97;
}

main .lt-deploy .lt-wrapper-80 .lt-description,
main .lt-features .lt-description {
  font-size: 14px;
}

/* DESIGN */
main .lt-design {
  background-color: #F3F5F9;
}

main .lt-design .lt-wrapper-60 .col-xs-1 {
  padding-top: 25%;
}

main .fas {
  font-size: 28px;
}

main .lt-design img {
  width: 100%;
  min-width: 350px;
}

main .far {
  color:#006AFF
}

main .far:active {
  background-color: #006AFF;
  border-radius: 50%;
}

/* FEATURES */

/* SERVERS */
main .lt-servers {
  background-image: linear-gradient(#0147C5, #03209A);
}

.row.lt-row {
  position: relative;
}

.row.lt-row:not(:last-child)::before {
  position: absolute;
  content: '';
  bottom: 0;
  height: 1px;
  width: 95%;
  background-color: #FFF;
}

main .lt-servers h2,
main .lt-start h2,
main .lt-servers h5 {
  color: #FFF;
}

main .lt-servers p {
  color: #B8C6E8;
  font-size: 95%;
  margin: 10px 0;
}

main .lt-servers a {
  color: #00D2CC;
}

/* DEV-TEAMS */
main .lt-dev-teams {
  background-color: #F3F5F9;
}

main .lt-dev-teams .lt-box {
  background-color: #FFF;
  padding: 30px 0;
  max-width: 450px;
  min-width: 250px;
  margin: 20px auto;
}

main .lt-dev-teams .lt-box h6 {
  margin-bottom: 3px;
}

main .lt-dev-teams .lt-box p.lt-description {
  font-size: 100%;
}

main .lt-dev-teams .lt-box p.lt-caption {
  font-size: 80%;
}

main .lt-dev-teams .lt-wrapper-60 .col-xs-1 {
  padding-top: 20%;
}

/* START */
main .lt-start {
  background-image: linear-gradient(#0147C5, #03209A);
}

/* FOOTER */
footer {
  background-color: #041D4E;
}

.lt-box-debug._credits{
  height: 180px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.lt-box-debug._col-madre {
  height: 370px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.lt-box-debug._col {
  width: 100%;
  height: 370px;
  border: 1px solid black;
  margin-bottom: 20px;
}


@media all and (max-width: 991px) {
  main .lt-customers .lt-customers-logo img {
    height: 140px;
    vertical-align: middle;
  }

  main .lt-design .lt-caption {
    font-size: 16px;
  }
}

